* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
}

.header {
    width: 100%;
    position: fixed;
}

.main-content {
    padding: 106px 0 0 0;
    width: 100vw;
    height: 100vh;
}

.my-left-bar {
    max-width: 330px
}

.home-content {
    margin: 36px 0;
    padding: 0 26px;
}

.img-w {
    width: 20px;
}

.nav-config {
    color: black;
    font-size: 21px;
}

.nav-config:hover {
    color: black;
}

.nav-config:focus {
    color: black;
}

#font-bold {
    font-weight: bold;
}