@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    height: 100vh;
}

.font-jost {
    font-family: 'Jost', sans-serif;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}



.img-w {
    max-width: 20px;
}

.img-perfil-w {
    max-width: 75px;
}


/*CONGIGURAÇÕES DAS CORES DAS LETRAS DO MENU DA ESQUERDA*/

.nav-config {
    color: black;
    font-size: 18px;
}

.nav-config:hover {
    color: black;
}

.nav-config:focus {
    color: black;
}

#font-bold {
    font-weight: bold;
}


/*CONFIGURAÇÕES DO BOTÃO DE REMOVER*/

.my-btn-remover {
    background-color: #C33025;
    color: white;
}

.my-btn-remover:hover {
    background-color: #b60c00;
    color: #c9c9c9;
}

.my-btn-remover:first-child:active {
    background: #b60c00;
    color: #c9c9c9;
}

.my-btn-remover:active {
    background: #b60c00;
    color: #c9c9c9;
}

.my-btn-remover:focus-visible {
    background-color: #b60c00;
    color: #c9c9c9;
}

.border-primary {
    border-color: #0053AD !important;
}


/*CONGIFURAÇÃO DAS FIGURINHAS*/


/*CONFIGURAÇÃO SCROLLBAR*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #70aef1;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/*navbar*/

.modal-backdrop {
    display: none;
}